.dashboard .header img { cursor: pointer; margin-top: 2.5em; vertical-align: -2px; }
.dashboard .selectable { background: #E5ECF9; border: 2px solid #C2D2EF; color: #000099; cursor: pointer; float: left; height: 40px; line-height: 40px; margin: 15px 15px 0 0; overflow: hidden; text-align: center; text-decoration: underline; width: 141px; }
.dashboard .selectable.selected { background: #E6EFC2; border-color: #C6D880; color: #264409; text-decoration: none; }
.dashboard .selectable.last { margin-right: 0; }
.dashboard .selectable form { margin-top: -3px; }
.dashboard .selectable input { margin: 0 auto; text-align: center; width: 90%; }

.dashboard #tests .dialog { margin-top: 15px; overflow: auto; padding: 5px 20px; }
.dashboard #tests .dialog label { line-height: 27px; }
.dashboard #tests .dialog .submit { float: right; margin-top: 4px; }

.dashboard #tests table {
	border-width: 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: rgb(207, 207, 207);
	border-collapse: separate;
	background-color: rgb(239, 239, 239);
	margin-top: 15px;
}

.dashboard #tests table th.first {
	color: #000;
}

.dashboard #tests table th {
	border-width: 1px;
	padding: 10px;
	border-style: none;
	border-color: gray;
	background-color: rgb(239, 239, 239);
	color: #8F8F8F;
}

.dashboard #tests table tr.odd {
	background-color: #fff;
}

.dashboard #tests table td {
	padding: 10px;
	border-style: none;
}