.dashboard .nav {
	text-align: right;
}

.dashboard .header img {
	cursor: pointer;
	margin-top: 2.5em;
	vertical-align: -2px;
}

.dashboard .selectable {
	background: rgb(239, 239, 239);
	border: 2px solid rgb(207, 207, 207);
	color: #8F8F8F;
	cursor: pointer;
	float: left;
	height: 40px;
	line-height: 40px;
	margin: 15px 15px 0 0;
	overflow: hidden;
	text-align: center;
	text-decoration: underline;
	width: 141px;
}

.dashboard .selectable.selected {
	background: #E5ECF9;
	border-color: #C2D2EF;
	color: #000099;
	text-decoration: none;
}

.dashboard .selectable.last {
	margin-right: 0;
}

.dashboard .selectable form {
	margin-top: -3px;
}

.dashboard .selectable input {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}

.dashboard #tests table {
	border-width: 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: rgb(207, 207, 207);
	border-collapse: separate;
	background-color: rgb(239, 239, 239);
	margin-top: 15px;
}


.dashboard #tests table td {
	padding: 10px;
	border-style: none;
}

.dashboard #tests table td span {
	color: #8F8F8F;
}

.dashboard #tests table th {
	border-width: 1px;
	padding: 10px;
	border-style: none;
	border-color: gray;
	background-color: rgb(239, 239, 239);
	color: #8F8F8F;
}

.dashboard #tests table th.first {
	color: #000;
}

.dashboard #tests table .conditions {
	font-family: inherit;
	font-size: 75%;
	font-style: inherit;
	margin: 0;
}

.dashboard #tests table .edit,
.dashboard #tests table .remove {
	float: left;
	margin: 0px 20px;
}

.dashboard #tests table img {
	margin-right: 3px;
	vertical-align: -2px;
}

.dashboard #tests table .remove a {
	color: #8a1f11;
}

.dashboard #tests table .remove a:focus, .dashboard #tests table .remove a:hover {
	color: #000000;
}

.dashboard #tests table .right {
	float: right;
}

.dashboard #tests table tr.odd {
	background-color: #fff;
}

.dialog {
	overflow: auto;
	padding: 15px 0px 15px 20px;
}

.dialog label {
	line-height: 27px;
}

.dialog .remove {
	cursor: pointer;
	vertical-align: -4px;
}

.dialog .submit {
	float: right;
	margin: 15px 20px 0 0;
}