#front #title {
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
	margin-top: 32px;
	text-align: center;
}

#front #subtitle {
	height: 90px;
	font-size: 23px;
	margin-top: 25px;
	position: relative;
	text-align: center;
}

#front #subtitle_arrow_1 {
	left: 430px;
	position: absolute;
	top: 38px;
}

#front #subtitle_arrow_2 {
	left: 685px;
	position: absolute;
	top: 35px;
}

#front #code_examples {
	margin-top: -13px;
}

#front #code_note {
	color: #aaa;
	margin-top: 5px;
}

#front pre {
	margin: 0.2em 0 0;
	padding: 6px 10px 10px;
}

#front .one-line-code-example {
	font-size: 23px;
	margin-top: 45px;
	text-align: center;
}

#front .one-line-code-example .sub-box {
	margin-top: 13px;
	padding: 18px 0 22px;
}

#front .one-line-code-example .sub-box .right {
	font-size: 16px;
	margin-top: -7px;
	padding-right: 10px;
}

#front .one-line-code-example .sub-box .right a {
	font-weight: normal;
}

#front #web_interface {
	margin-top: 50px;
}

#front #web_interface .space-left {
	font-size: 1.438em;
	line-height: 2.9em;
	margin-top: -25px;
}

#front #web_interface ul {
	margin-bottom: 0;
	padding-left: 35px;
}

#front #features {
	margin-top: 50px;
}

#front #features_2 {
	margin-top: 25px;
}

#front #features .highlight-box {
	margin-top: -8px;
	padding: 5px 8px;
}

#front #features form {
	margin: 30px 0 5px 15px;
}

#front #features input {
	font-size: inherit;
	margin: -2px 0 25px;
	padding: 3px;
	width: 90%;
}

#front #features .submit {
	background-color: #009;
	color: #fff;
	cursor: pointer;
	float: right;
	font-weight: bold;
	margin-bottom: 3px;
	padding: 3px 10px;
	text-transform: uppercase;
}