#front #title {
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
	margin-top: 32px;
	text-align: center;
}

#front #subtitle {
	height: 90px;
	font-size: 23px;
	margin-top: 25px;
	position: relative;
	text-align: center;
}

#front #subtitle_arrow_1 {
	left: 430px;
	position: absolute;
	top: 38px;
}

#front #subtitle_arrow_2 {
	left: 685px;
	position: absolute;
	top: 35px;
}

#front #code_examples {
	margin-top: -13px;
}

#front pre {
	margin: 0.2em 0 0;
	padding: 6px 10px 10px;
}

#front .one-line-code-example {
	font-size: 23px;
	margin-top: 45px;
	text-align: center;
}

#front .one-line-code-example .sub-box {
	margin-top: 13px;
	padding: 18px 0 22px;
}

#front .one-line-code-example .sub-box .right {
	font-size: 16px;
	margin-top: -7px;
	padding-right: 10px;
}

#front .one-line-code-example .sub-box .right a {
	font-weight: normal;
}

#front #web_interface {
	font-size: 1.438em;
	line-height: 2.65em;
	margin-top: 50px;
}

#front #web_interface .sub-box {
	background-color: #fff !important;
	background-image: url('/image/web_interface.png');
	background-position: 3px 3px;
	background-repeat: no-repeat;
	height: 245px;
}

#front #web_interface ul {
	padding-left: 35px;
}