- @css = %w(dashboard)
- @js = %w(tmpl dashboard lightbox/jquery.lightbox_me)
/.success This is a test!
.dashboard
  .span-12.filter#sites
    .header
      Sites&nbsp;
      %img{ :class => 'add', :src => '/image/add.png' }
      %img{ :class => 'remove hide', :src => '/image/remove.png' }
      %img{ :class => 'edit hide', :src => '/image/edit.png' }
    - @sites.each do |site|
      .selectable= site['name']
  .span-12.last.hide.filter#envs
    .header
      Environments&nbsp;
      %img{ :class => 'add', :src => '/image/add.png' }
      %img{ :class => 'remove hide', :src => '/image/remove.png' }
      %img{ :class => 'edit hide', :src => '/image/edit.png' }
  .span-24.last.hide.filter#categories
    .header
      Categories&nbsp;
      %img{ :class => 'add', :src => '/image/add.png' }
      %img{ :class => 'remove hide', :src => '/image/remove.png' }
      %img{ :class => 'edit hide', :src => '/image/edit.png' }
  .span-24.last.hide.filter#tests
    .header
      Tests&nbsp;
      %img{ :class => 'add', :src => '/image/add.png' }
      %img{ :class => 'remove hide', :src => '/image/remove.png' }

%textarea.hide#envs_form_template
  .dialog.span-8.last
    %form{ :action => '/envs', :method => 'post' }
      .span-3
        %label{ :for => 'env_name' } Environment
      .span-4.last
        <% if (typeof(env) != "undefined") { %>
        <input name='id' type='hidden' value='<%= env.id %>' />
        <% } %>
        <input name='site_id' type='hidden' value='<%= site.id %>' />
        <input id='env_name' name='name' type='text' value='<%= (typeof(env) != "undefined") ? env.name : "" %>' />
      .submit
        %input{ :type => 'submit', :value => 'Submit' }
        %input{ :class => 'cancel', :type => 'reset', :value => 'Cancel' }

%textarea.hide#envs_form_domain_template
  .span-3
    %label Domain name
  .span-4.last
    <input class='domains' name='domains[]' type='text' value='<%= (typeof(domain) != "undefined") ? domain : "" %>' />

%textarea.hide#tests_form_template
  .dialog.span-7.last
    %form{ :action => '/tests', :method => 'post' }
      .span-2
        %label{ :for => 'test_name' } Test
      .span-4.last
        <% if (typeof(test) != "undefined") { %>
        <input name='id' type='hidden' value='<%= test.id %>' />
        <% } %>
        <input id='test_name' name='name' type='text' value='<%= (typeof(test) != "undefined") ? test.name : "" %>' />
      .submit
        %input{ :type => 'submit', :value => 'Submit' }
        %input{ :class => 'cancel', :type => 'reset', :value => 'Cancel' }

%textarea.hide#tests_form_variant_template
  .span-2
    %label
      <% if (typeof control != "undefined" && control) { %>
      Control
      <% } else { %>
      Variant
      <% } %>
  .span-4.last
    <input class='variants' name='<%= (typeof(id) != "undefined") ? "old_variants[" + id + "]" : "variants[]" %>' type='text' value='<%= (typeof(name) != "undefined") ? name : "" %>' />

%textarea.hide#test_template
  %table{ :id => 'test_<%= test.id %>' }
    %tr
      %th.first
        <%= test.name %>
      %th Visits
      %th Conversions
      %th Conversion Rate
      %th Suggested Visits
      %th Confidence
    :plain
      <%
        var condition_keys = [];
        var odd;
        $.each(test.variants, function(i, variant) {
          odd = (i % 2 == 0); %>
    %tr{ :class => '<% if (odd) { %>odd<% } %>'}
      %td
        <%= variant.name %>
        <% if (i == 0) { %>
        %span (control)
        <% } %>
      :plain
        <%
          var found = false;
          $.each(variant.for_dashboard, function(e, item) {
            if (e == env) {
              condition_keys = condition_keys.concat(item.condition_keys);
              found = true; 
              if (typeof(condition) != "undefined") {
                if (item.conditions[condition])
                  item = item.conditions[condition];
                else
                  found = false;
              }
              if (found) {
        %>
      %td <%= item.visits %>
      %td <%= item.conversions %>
      %td <%= item.conversion_rate %>
      %td <%= item.suggested_visits %>
      %td <%= item.confidence %>
      :plain
        <%
              }
            }
          });
          if (!found) {
        %>
      %td 0
      %td 0
      %td -
      %td -
      %td 0%
      <% } %>
    <% }); %>
    %tr{ :class => '<% if (!odd) { %>odd<% } %>'}
      %td{ :colspan => 6 }
        :plain
          <%
            condition_keys = window.dashboard.uniqArray(condition_keys).sort();
            if (condition_keys.length) {
          %>
        %select.conditions
          %option All data
          <% $.each(condition_keys, function(i, c) { %>
          <option <%= typeof(condition) != "undefined" && c == condition ? "selected" : "" %>><%= c %></option>
          <% }); %>
        <% } %>
        .right
          .edit
            %a{ :href => '#' }
              %img{ :src => '/image/edit.png' }
              Edit
          .remove
            %a{ :href => '#' }
              %img{ :src => '/image/remove.png' }
              Delete