- @css = @js = %w(dashboard)
/.success This is a test!
.dashboard
  .span-12.filter#sites
    .header
      Sites&nbsp;
      %img{ :class => 'add', :src => '/image/add.png' }
      %img{ :class => 'remove hide', :src => '/image/remove.png' }
    - @sites.each do |site|
      .selectable= site['name']
  .span-12.last.hide.filter#envs
    .header
      Environments&nbsp;
      %img{ :class => 'add', :src => '/image/add.png' }
      %img{ :class => 'remove hide', :src => '/image/remove.png' }
  .span-24.last.hide.filter#categories
    .header
      Categories&nbsp;
      %img{ :class => 'add', :src => '/image/add.png' }
      %img{ :class => 'remove hide', :src => '/image/remove.png' }