- @css = %w(front)

#front
  #title.highlight-box
    A/B and Multivariate Testing for Developers
  #subtitle
    Seamlessly test across
    %strong server side
    and
    %strong client side
    %img{ :src => '/image/subtitle_arrow_1.png', :id => 'subtitle_arrow_1' }
    %img{ :src => '/image/subtitle_arrow_2.png', :id => 'subtitle_arrow_2' }
  #code_examples
    .span-12
      .space-right
        .header Ruby on Rails or Sinatra
        %pre.code.sub-box
          = preserve do
            :escaped
              <%
              case a_b('front_page', 'intro').visit
              when 'welcome' then
              -%>

                Welcome to my web site!

              <% when 'thank_you' then -%>

                Thank you for visiting my web site!

              <% end -%>

              <a href="/home">Enter</a>
    .span-12.last
      .space-left
        .header Javascript
        %pre.code.sub-box
          = preserve do
            :escaped
              jQuery(function($) {

                $('a').click(function() {
                  a_b('front_page', 'intro').convert();
                });

              });
        #code_note Feel free to use Ruby and Javascript together or separately
  .clear
  .one-line-code-example
    Randomly select a variant to
    %strong visit
    .sub-box
      .code
        a_b('category', 'test_name').visit()
        %img{ :src => '/image/code_example_arrow.png' }
        'variant_name'
  .one-line-code-example
    %strong Convert
    the selected variant
    .sub-box
      .code
        a_b('category', 'test_name').convert()
        %img{ :src => '/image/code_example_arrow.png' }
        'variant_name'
  .one-line-code-example
    Segment your test by adding
    %strong conditions
    .sub-box
      .code
        a_b('Logged in' => true)
      .right
        %strong Ruby
        &nbsp;
        &nbsp;
        %a{ :href => '#' } Javascript
  #web_interface
    .span-12
      %img{ :src => '/image/web_interface.png' }
    .span-12.last
      .space-left
        %strong Control panel
        %ul
          %li Define sites and environments
          %li Create categories, tests, and variants
          %li Review test results
  .clear
  #features
    .span-12
      #features_1
        .span-6
          .header Scalable
          Battle-hardened on a Quantcast "Top 125" site serving 15 million pageviews per day.
        .span-6.last
          .header Easy Setup
          Record test data locally and see it on the control panel within five minutes of signing up.
      .clear
      #features_2
        .span-6
          .header Open Source
          Complete source code transparency. Dependable results and rapid feature development.
        .span-6.last
          .header Tiny Footprint
          No databases to set up. Negligible performance impact. A worry-free addition to your app.
    .span-12.last
      .space-left
        .highlight-box
          .header Get Started
          %form
            .span-4 Email
            .span-7.last
              %input{ :type => 'text' }
            .span-4 Password
            .span-7.last
              %input{ :type => 'password' }
            .span-4 Confirm Password
            .span-7.last
              %input{ :type => 'password' }
            .clear