!!! 1.1
%html
  %head
    = css 'qunit'
    = js 'jquery'
    = js 'qunit'
  %body
    %h1{ :id => "qunit-header" } a_b_front_end
    %h2{ :id => "qunit-banner" }
    %h2{ :id => "qunit-userAgent" }
    %ol{ :id => "qunit-tests" }